:host {
  display: block;
  padding: 50px;
}

.example-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  // background-color: #eee;
  border-radius: 4px;
  padding: 15px;

  .input-field {
    margin-bottom: 15px;
  }
}

.example-container > * {
  width: 100%;
}

.search-car {
  margin-bottom: 15px;
  &_form {
    width: 340px;
  }
}

.mat-list-base .mat-list-item {
  height: auto;
}